$white-color: #fff;
$header-color: $white-color;

.navbar-brand-image {
    width: 23px;
    height: 25px;
    vertical-align: text-top;
    padding: auto;
}

.phone-link {
    color: rgba(255, 255, 255, 1);

    &:hover {
        color: #dc3545;
        text-decoration: none;
    }
}

.phone-button-ico {
    width: 2rem;
    height: 2rem;
    padding-left: .1rem;
}

.map-phone {
    color: #dc3545;
}

h1,
h2,
h3,
h4,
h5 {
    color: $header-color;
}

@media (max-width: 576px) {

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 1.3rem;
    }

    h1 {
        font-size: 2rem;
    }
}


@media (max-width: 998px) {
    .phone-link {
        display: none;
    }

    .main-home-section-form-wrapper {
        margin-top: 1.5rem !important;
    }
}

#main {
    margin-top: 50px;
}

.main-home {
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('./images/background.jpg') 50% 50%;
    background-size: cover !important;
    position: relative;
}

.main-iphone-list {
    list-style: none;
}

.main-iphone-item {
    flex:  0 0 250px;
    background: #fff;
    margin: 0 10px 20px;
}

.main-iphone-link img {
    max-width: 100%;
    vertical-align: middle;
}

.main-iphone-link {
    outline: none;
    display: block;
    position: relative;
    z-index: 0;
    color: #343a40;
    &:hover {
        color: #dc3545!important;
        text-decoration: none;
    }
}

.main-iphone-name {
    display: block;
    text-align: center;
}

.device-item-image {
    width: 200px;
    height: 150px;
    cursor: pointer;
}

.trust-section {
    background: #f5f5f5;
}

.trust-image {
    max-width: 62px;
}

#map {
    height: 70vh;
    width: 100%;
    position: relative;
}

.footer {
    height: 100%;
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-link {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
}

.footer-phone-link {
    color: rgba(255, 255, 255, 1);

    &:hover {
        color: rgba(255, 0, 0, .5);
        text-decoration: none;
    }
}

.footer-social-items {
    position: relative;
}

.social-img-vk,
.social-img-facebook,
.social-img-insta {
    width: 2.1rem;
    height: 2rem;
    display: inline-block;
    background: url('./images/social.png');
    background-size: 1000%;
}

.social-img-vk {

    background-position: -64px -281px;
}

.social-img-facebook {
    background-position: -120px -5px;
}

.social-img-insta {
    background-position: -299px -5px;
}

.map-modal-window {
    width: 360px;
    padding: 20px 5px;
    padding-left: 0px;
    height: 270px;
    box-sizing: border-box;
    background: #f5f5f5;
    position: absolute;
    border-radius: 2px;
    bottom: 30%;
    right: 10%;
    color: #6c757d !important;
}

.map-modal-window-content-item {
    position: relative;
    /* margin: 20px 0 30px 20px; */
    margin: 15px 0 20px 20px;
}

.map-modal-window-content-item-img {
    position: absolute;
    top: 5px;
}

.map-modal-window-content-item-img img {
    max-width: 30px;
    vertical-align: middle;
}

.map-modal-window-content-item-text {
    margin-left: 50px;
    padding-right: 10px;
}

.map-modal-window-content-item-tex {
    margin-bottom: 5px;
}